<a href="https://colab.research.google.com/github/armandovl/curso_python/blob/main/1_Importar_Archivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importar Archivos desde Internet**

### 1.-Traer Archivo desde Github <br>
1.- Crear un nuevo repositorio en Github <br>
2.-Subir el archivo (sólo csv) <br>
3.-dar click en "raw" y obtener el enlace

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/armandovl/bases_de_datos/master/ParaR%20-%20Hoja%201.csv"
datosuno= pd.read_csv(url)
datosuno.head(8)

### 2.-Traer archivos desde DropBox
1.-Darle click en compartir <br>
2.-Darle click en copiar vínculo <br>
3.-Cambiar "dl=0" por "dl=1" <br>

In [ ]:
import pandas as pd
url5r="https://www.dropbox.com/s/hjqaeyxzqnnilyc/ingreso.xlsx?dl=1"
datosdropbox= pd.read_excel(url5r)
datosdropbox.head(8)

### 3.-Llamar un archivo desde OneDrive<br>
Sirve tanto para csv como xlsx<br>
1.-Dar click al archivo y elegir "compartir <br>
2.-Copiar el vinculo y pegarlo en una nueva pestaña<br>
ejemplo "https://1drv.ms/u/s!Aplk5U2rHZHxwRmBdegcxiRQbLs0?e=zWpxIj" <br>
3.-El vínculo habrá cambiado ejemplo:<br>
https://onedrive.live.com/edit.aspx?resid=F1911DAB4DE56499!8345&authkey=!AIF16BzGJFBsuzQ <br>
4.-Cambiar "edit.aspx" por "download.aspx" <br>
5.-El vínculo resultante es el que se va a usar

In [ ]:
import pandas as pd
url="https://onedrive.live.com/download.aspx?resid=F1911DAB4DE56499!8345&authkey=!AIF16BzGJFBsuzQ"
datosonedrive=pd.read_csv(url)
datosonedrive.tail()

### 4.-Importar una Spreadsheet de Google
<br>
1.-Se da click en Archivo-> Publicar en la web (no se toma el link que da)
<br>
2.-Se copia este link y se reemplaza por el key del original (puede ser csv o xlsx)
<br>
https://docs.google.com/spreadsheets/d/KEY/pub?gid=0&single=true&output=csv
<br>
https://docs.google.com/spreadsheets/d/KEY/pub?gid=0&single=true&output=xlsx

In [ ]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/1fYlTX1JkyD55uqxrBoaOCeG5GxZhLkawYmcc9zEnkQs/pub?gid=0&single=true&output=xlsx"
spr=pd.read_excel(url)
spr.tail()

### 5.-Importar un archivo subido a de Google Drive <br>
1.-Se da click en Abrir con Hojas de calculo de Google <br>
2.-Se copia el gid "gid=1414548305" <br>
3.-Se da click en Archivo-> Publicar en la web (no se toma el link que da)
4.-Se copia este link y se reemplaza por el key del original y el gid (puede ser csv o xlsx)
<br>
https://docs.google.com/spreadsheets/d/KEY/pub?gid=0&single=true&output=csv
<br>
https://docs.google.com/spreadsheets/d/KEY/pub?gid=0&single=true&output=xlsx

In [ ]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/1aJ6OKYp0uiAJscvWPdIe1KBwibkXxQDg2RzzKwkXDVA/pub?gid=1414548305&single=true&output=xlsx"
datos3=pd.read_excel(url)
datos3.tail()

     PassengerId  ... Survived
709            5  ...    muere
710            4  ...     vive
711            3  ...     vive
712            2  ...     vive
713            1  ...    muere

[5 rows x 8 columns]